

body{
    margin:0;
    font-family: arial, verdana;
}

header {
    color:#FFFFFF;
    background-color: #000000;
    text-align: center;
    width:100%;
    padding:25px;
}

main {
    background-color: #000F9F;
    color:white;
    padding: 25px;
    height: 800px;
}

footer {
    font-weight: 10px;
    color: lightgray;
    text-align: center;
    padding: 25px;
    background-color: #000000;
}